<div id="contactus">

    <h2>Welcome to Contact Us Page</h2>
    <p>Conran's birth parents divorced when he was two years of age.
        Conran was educated at Port Regis School and Bryanston School in the 1970s; he also studied at the Parsons School of Art and Design[2] in New York, United States (US).
        Conran is an Honorary Doctor of Letters at Heriot-Watt University, a Visiting Professor at the University of the Arts London and an Honorary Doctor of Civil Law at the University of East Anglia. He has also served several times on the British Fashion Council.
        Conran is a Patron of the Work-Life Balance Trust and is a Trustee of the Wallace Collection
        Conran is openly gay[3] and, in 2009, he was ranked number 66 in the annual Pink List of 100 influential gay and lesbian people in Britain,
        published by The Independent on Sunday.[4] In 2010, this list described him as a "National Treasure".[5]</p>
    <p>Conran's first collection was for Henri Bendel in New York, US. In 1979, aged 19, Conran designed his first womenswear collection under his own name.
        The following year he was elected to be part of the London Designer collections. Conran designed his first menswear collection in 1985.
        In 1994, Conran designed the wedding dress of Lady Sarah Armstrong-Jones.[6]
        In 1999, he began designing a signature range of stemware for Stuart Crystal[7] and later for Waterford Crystal. In 2001,
        he launched a fine bone china tableware collection for Wedgwood.[8]</p>
        <p>In 1996, Conran launched a womenswear range for the Debenhams[9] chain of department stores in the UK. He has
            subsequently designed women's accessories, lingerie, hosiery, menswear, men's accessories, childrenswear,
            and homeware for the company. Since 2005 he has also designed luggage for Tripp,[10] whose products are sold through Debenhams stores.</p>
        <p>Conran has released furnishing, fabric and wallpaper collections for Designers Guild,[11] as well as a range of signature fragrances in 2003.
            [12]In 2004, Conran designed and launched a three-range fireplace collection for Chesney's.In 2008, Conran launched the Jasper Conran Optical
            range with Specsavers.[13]</p>
</div>
