<div id="home">

    <h2>Welcome to Home Page</h2>
    <h3>
        BWW Empowers men and women to build successful independent business, providing education and mentorship to an association of successful business leader across North America and around the world
    </h3>
    <p>Get sharper, faster, better-looking printouts with genuine Lexmark ink and toner.
        Whether you need Lexmark ink for your home office printer or Lexmark toner for your business laser printer, Office Depot has the cartridges made specifically for your machines.
    </p>

    <p>
        When paired with the right equipment, Lexmark ink cartridges and toner will produce outstanding results and value for many years.
        With Lexmark's advanced printing solutions, you replace only one color as needed, saving you money and reducing your environmental impact.
        Best of all, when you buy Lexmark toner and ink at Office Depot, you can find everything you need in one convenient place.
    </p>

    <p>{{ message }}</p>

</div>
