<div id="album">

    <h2>Welcome to Events Page</h2>
    <button type="button" class="btn btn-primary" ng-click="createPaseSchedule()">Create a PASE Schedule</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success" ng-click="showPaseSchedule()">View PASE Schedule</button><br/><br/>

    <div id="createPaseSchedule" ng-show="showCreatePase">
        <table style="width: 60%;">
            <tr>
                <td colspan="2"><h4>Enter the Details..</h4></td>
            </tr>
            <tr>
                <td>Enter PASE Location:</td>
                <td><input type="text" ng-model="pase.location"/></td>
            </tr>
            <tr>
                <td>Enter Time:</td>
                <td><input type="text" ng-model="pase.time"/></td>
            </tr>
            <tr>
                <td>Enter Date:</td>
                <td><input type="text" ng-model="pase.date"/></td>
            </tr>
            <tr>
                <td>Enter Host Name:</td>
                <td><input type="text" ng-model="pase.host"/></td>
            </tr>
            <tr>
                <td>Enter Timer Name:</td>
                <td><input type="text" ng-model="pase.timer"/></td>
            </tr>
            <tr>
                <td colspan="2"><h4>Enter Product speakers Details..</h4></td>
            </tr>
            <tr>
                <td>Enter Product Topic1:</td>
                <td><input type="text" ng-model="pase.productTopic1"/></td>
            </tr>
            <tr>
                <td>Enter Product Speaker1:</td>
                <td><input type="text" ng-model="pase.productSpeaker1"/></td>
            </tr>
            <tr>
                <td>Enter Product Topic2:</td>
                <td><input type="text" ng-model="pase.productTopic2"/></td>
            </tr>
            <tr>
                <td>Enter Product Speaker2:</td>
                <td><input type="text" ng-model="pase.productSpeaker2"/></td>
            </tr>
            <tr>
                <td>Enter Product Topic3:</td>
                <td><input type="text" ng-model="pase.productTopic3"/></td>
            </tr>
            <tr>
                <td>Enter Product Speaker3:</td>
                <td><input type="text" ng-model="pase.productSpeaker3"/></td>
            </tr>
            <tr>
                <td colspan="2"><h4>Enter System speakers Details..</h4></td>
            </tr>
            <tr>
                <td>Enter First Speaker on CD:</td>
                <td><input type="text" ng-model="pase.cdSpeaker1"/></td>
            </tr>
            <tr>
                <td>Enter Second Speaker on CD:</td>
                <td><input type="text" ng-model="pase.cdSpeaker2"/></td>
            </tr>
            <tr>
                <td>Enter Book Speaker:</td>
                <td><input type="text" ng-model="pase.bookSpeaker"/></td>
            </tr>
            <tr>
                <td>Enter BWW TV Speaker:</td>
                <td><input type="text" ng-model="pase.bwwtvSpeaker"/></td>
            </tr>
            <tr>
                <td colspan="2"><h4>Enter System Topics Details..</h4></td>
            </tr>
            <tr>
                <td>Enter System Topic1:</td>
                <td><input type="text" ng-model="pase.systemTopic1"/></td>
            </tr>
            <tr>
                <td>System Topic1 Speaker:</td>
                <td><input type="text" ng-model="pase.systemSpeaker1"/></td>
            </tr>
            <tr>
                <td>Enter System Topic2:</td>
                <td><input type="text" ng-model="pase.systemTopic2"/></td>
            </tr>
            <tr>
                <td>System Topic2 Speaker:</td>
                <td><input type="text"  ng-model="pase.systemSpeaker2"/></td>
            </tr>
            <tr>
                <td>Wrapup Speaker:</td>
                <td><input type="text"  ng-model="pase.wrapSpeaker"/></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><button type="button" class="btn btn-primary" ng-click="savePaseSchedule(pase)">Save</button></td>
            </tr>
        </table>
    </div>

    <div id="viewPaseSchedule" ng-show="showViewPase">
        <table style="width:60%;background-color: cadetblue;color:#fff;font-weight:bold;border: 1px solid #BBBB77;border-radius: 5px;">
            <tr>
                <td>Host Name:</td>
                <td>{{paseSchedule.host}}</td>
            </tr>
            <tr>
                <td>Timer:</td>
                <td>{{paseSchedule.timer}}</td>
            </tr>
            <tr>
                <td>Date & time:</td>
                <td>{{paseSchedule.date}}- {{paseSchedule.time}}</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>{{paseSchedule.location}}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>{{paseSchedule.productTopic1}}</td>
                <td>{{paseSchedule.productSpeaker1}}</td>
            </tr>
            <tr>
                <td>{{paseSchedule.productTopic2}}</td>
                <td>{{paseSchedule.productSpeaker2}}</td>
            </tr>
            <tr>
                <td>{{paseSchedule.productTopic3}}</td>
                <td>{{paseSchedule.productSpeaker3}}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>SO CD</td>
                <td>{{paseSchedule.cdSpeaker1}}</td>
            </tr>
            <tr>
                <td>SO CD</td>
                <td>{{paseSchedule.cdSpeaker2}}</td>
            </tr>
            <tr>
                <td>SO BOOK</td>
                <td>{{paseSchedule.bookSpeaker}}</td>
            </tr>
            <tr>
                <td>Recent Video taht you watched on BWW TV</td>
                <td>{{paseSchedule.bwwtvSpeaker}}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2"> RECOGNISION </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td>{{paseSchedule.systemTopic1}}</td>
                <td>{{paseSchedule.systemSpeaker1}}</td>
            </tr>
            <tr>
                <td>{{paseSchedule.systemTopic2}}</td>
                <td>{{paseSchedule.systemSpeaker2}}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">WRAP UP By --- {{paseSchedule.wrapSpeaker}}</td>
            </tr>

        </table>
    </div>


</div>
